<div class="help">
    <div class="help-header d-flex justify-content-center align-items-center">
        <h1 class="textTitle">Хочу допомогти</h1>
        <%= image_tag('help_icon.svg')%>
    </div>
    <div class="help-main "> 
        <div>
            <div class="help-main-title">
                <h2 class="textBody1">для фізичних осіб</h2>
            </div>
            <p class='textInfo'> картка ПриватБанку </p>
            <p class='textCode'> 4246 0010 0345 6294 </p>
            <p class="textDetails">При перерахуванні коштів у призначенні платежу нічого вказувати не потрібно, там уже автоматично прописано ”благодійний внесок”</p>
        </div>
        <div>
            <div class="help-main-title">
                <h2 class='textBody1'>для юридичних осіб</h2> 
            </div>
            <p class='textInfo'>найменування отримувача</p>
            <p class="textBody1">БО “БФ”ЧАРІВНИЦІ ДОБРА”</p>
            <p class='textInfo'>код отримувача</p>
            <p class='textCode'>44753728 </p>
            <p class="textDetails">Рахунок у форматі відповідно до стандарту 
                IBAN: UA503052990000026008026307663
                Назва банку: АТ КБ “ПРИВАТБАНК”</p>
        </div>
        <div>
            <div class="help-main-title">
                    <h2 class='textBody1'>скануй QR-код через 
                    <svg xmlns="http://www.w3.org/2000/svg" width="116" height="20" viewBox="0 0 116 20" fill="none">
                        <g clip-path="url(#clip0_248_314)">
                        <path d="M22.2481 17.1036H19.3853V7.02954H29.684V17.1036H26.8212V8.9851H22.2406V17.1036H22.2481Z" fill="#605F5F"/>
                        <path d="M33.5875 13.4295C33.5875 11.3851 34.8517 10.9851 35.6547 10.9851C36.4355 10.9851 37.6996 11.3851 37.6996 13.4295C37.6996 14.6962 37.1642 15.9036 35.6547 15.9036C34.1155 15.911 33.5875 14.6962 33.5875 13.4295ZM31.0742 9.78506V19.7628H33.714V16.348C34.5988 17.2962 36.034 17.3702 36.3834 17.3702C38.8968 17.3702 40.4434 15.7702 40.4434 13.4517C40.4434 11.0369 38.9191 9.51099 36.4355 9.51099C35.8109 9.51099 34.5988 9.61469 33.5875 10.6665H33.5355L33.5504 9.78506H31.0742Z" fill="#605F5F"/>
                        <path d="M46.9796 16.2222C46.0055 17.1259 45.076 17.3703 44.0349 17.3703C41.1944 17.3703 41.0903 15.237 41.0903 14.3629V9.78516H43.7226V14.0148C43.7226 15.4666 44.2283 15.9037 45.1949 15.9037C46.8606 15.9037 46.9796 14.4222 46.9796 13.8889V9.78516H49.6193V17.0963H46.9796V16.2222Z" fill="#605F5F"/>
                        <path d="M53.3971 11.2592H54.8173C55.5609 11.2592 56.2078 11.3777 56.2078 11.9777C56.2078 12.6444 55.204 12.6518 54.7727 12.6518H53.4045V11.2592H53.3971ZM50.7573 9.78516V17.0963H55.9922C57.9032 17.0963 59.2194 16.7185 59.2194 15.2222C59.2194 14.074 58.5799 13.5703 57.1225 13.3111V13.2666C58.0742 13.1407 58.9071 12.5481 58.9071 11.5555C58.9071 9.78516 56.825 9.78516 56.0145 9.78516H50.7573ZM53.3971 14.0222H55.0107C56.2599 14.0222 56.5201 14.4 56.5201 14.8889C56.5201 15.2074 56.3491 15.637 55.0478 15.637H53.4045V14.0222H53.3971Z" fill="#605F5F"/>
                        <path d="M65.5991 14.0815C65.5991 15.5482 64.3127 15.9111 63.6732 15.9111C63.1898 15.9111 62.3198 15.7556 62.3198 15.0593C62.3198 14.2371 63.3088 14.0815 63.8665 14.0074C64.8927 13.8667 64.8034 13.9037 65.5991 13.6223V14.0815ZM62.5504 12.1482C62.5504 11.0667 63.6955 10.9852 64.1639 10.9852C64.4614 10.9852 65.5544 11 65.5842 11.9482C65.5842 12.0223 65.5842 12.0741 65.5842 12.1482C65.5321 12.8667 64.8406 12.726 62.8998 12.9704C61.3011 13.1852 59.6206 13.5926 59.6206 15.2593C59.6206 15.8667 59.8809 17.3778 62.6916 17.3778C63.7698 17.3778 64.9447 17.1037 65.6362 16.3852H65.6883L65.9114 17.1037H68.685V16.9778C68.1793 16.8741 68.1496 16.3852 68.1645 15.5926L68.2165 12.2519C68.2314 11.4 68.1496 9.51855 64.1788 9.51855C63.227 9.51855 60.156 9.60744 60.037 12.1556H62.5504V12.1482Z" fill="#605F5F"/>
                        <path d="M68.5142 11.2591V9.79248H76.9762V11.2591H74.0613V17.1036H71.429V11.2591H68.5142Z" fill="#605F5F"/>
                        <path d="M80.3448 12.7258H82.7168C83.4084 12.7258 84.7989 12.7999 84.7989 14.0073C84.7989 14.9555 83.795 15.1481 82.6648 15.1481H80.3448V12.7258ZM80.3448 8.9851H86.9181V7.02954H77.4819V17.1036H83.2745C86.0853 17.1036 87.8848 16.1258 87.8848 14.0666C87.8848 10.8444 84.2784 10.7703 83.2745 10.7703H80.3448V8.9851Z" fill="#605F5F"/>
                        <path d="M94.3687 14.0815C94.3687 15.5482 93.0823 15.9111 92.4428 15.9111C91.9595 15.9111 91.0895 15.7556 91.0895 15.0593C91.0895 14.2371 92.0785 14.0815 92.6287 14.0074C93.6549 13.8667 93.5656 13.9037 94.3613 13.6223V14.0815H94.3687ZM91.32 12.1482C91.32 11.0667 92.4651 10.9852 92.9336 10.9852C93.231 10.9852 94.3241 11 94.3538 11.9482C94.3538 12.0223 94.3538 12.0741 94.3538 12.1482C94.3018 12.8667 93.6103 12.726 91.662 12.9704C90.0708 13.1852 88.3828 13.5926 88.3828 15.2593C88.3828 15.8667 88.6431 17.3778 91.4538 17.3778C92.532 17.3778 93.7069 17.1037 94.3985 16.3852H94.4505L94.6736 17.1037H97.4472V16.9778C96.949 16.8741 96.9118 16.3852 96.9267 15.5926L96.9787 12.2519C96.9936 11.4 96.9118 9.51855 92.941 9.51855C91.9892 9.51855 88.9182 9.60744 88.7992 12.1556H91.32V12.1482Z" fill="#605F5F"/>
                        <path d="M100.756 17.1036H98.124V9.79248H100.756V12.5406H103.931V9.79248H106.564V17.1036H103.931V14.0073H100.756V17.1036Z" fill="#605F5F"/>
                        <path d="M113.219 9.78516H116.149L112.527 13.2148L116.327 17.1037H113.241L110.401 13.9111H110.349V17.1037H107.716V9.79257H110.349V12.7333H110.401L113.219 9.78516Z" fill="#605F5F"/>
                        <path d="M6.84819 10.5481H0.245117V17.1259H6.84819V10.5481Z" fill="#605F5F"/>
                        <path d="M0.252441 0.311035V8.49622H1.99988C6.59526 8.49622 8.9227 10.8147 8.9227 15.3925V17.1333H17.1394V0.311035H0.252441ZM13.6519 3.78511C13.6519 6.02215 13.6519 11.4147 13.6519 13.6518C13.0273 13.6518 12.9158 13.6518 12.306 13.6518C11.726 8.7703 8.64757 5.70363 3.74731 5.12585C3.74731 4.51844 3.74731 4.40733 3.74731 3.78511C5.98552 3.78511 11.4063 3.78511 13.6519 3.78511Z" fill="#605F5F"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_248_314">
                        <rect width="116" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    </h2>
                    
                
            </div>
            <div class="d-flex"> 
                <%= image_tag('QR-code.svg') %>
                <ol> 
                    <li>Завантажте додаток Приват24</li>
                    <li>Увійдіть в додаток</li>
                    <li>Відскануйте QR-код</li>
                    <li>Оберіть картку для оплати</li>
                </ol>
            </div>
        </div>
    </div>
</div>
