
<div class="main">
  <div class="main-block">
    <div class="main-title">
      <%= image_tag("Brush-blue") %>
      <h1>Дарувати тепло легко</h1>
    </div>
    <div class="main-text">
      <p>Бажаєш допомогти тому, хто має потребу і маєш можливість це робити? Тоді ми запрошуємо тебе до нашої дружньої команди.</p>
    </div>
    <div class="main-buttons">

       <%= link_to "Допомогти фонду", '#', class:"button"  %>
       <%= link_to "Перейти у Крамницю Добра", '#', class:"button-secondary"  %>
    </div>
  </div>

</div>

