// https://getbootstrap.com/docs/4.5/getting-started/theming/#variable-defaults
// Your variable overrides
// $body-bg: #000;
// $body-color: #111;

@import '~bootstrap/scss/bootstrap';
@import 'colors';
@import 'header';
@import 'footer';
@import 'home';

a {
    text-decoration: none;
}
.textHeader {
    font-size: 40px;
}
.textTitle {
    font-size: 64px;
    color: $text-black;
}
.textSubtitle {
    font-size: 36px;
    color: $text-dark-gray;
}
.textBody1 {
    font-size: 18px;
    color: $text-black;
}
.textBody2 {
    font-size: 13px;
}

.button {
    border-radius: 16px;
    padding: 20px 32px;
    background-color: $main-pink;
    color: rgba(250, 245, 245, 0.9);

    &:hover {
        color: $text-white;
        background-color: $secondary-pink;
        box-shadow: 0px 8px 23px rgba(71, 43, 48, 0.25);
    }
    &:active {
        color: $text-white;
        background-color: $secondary-pink;
    }

}

.button-secondary {
    border: 1px solid $main-pink;
    border-radius: 16px;
    color: $main-pink;
    padding: 20px 32px;

    &:hover {
        color: $text-white;
        background-color: $main-pink;
        box-shadow: 0px 8px 23px rgba(71, 43, 48, 0.25);
    }
    &:active {
        color: $text-white;
        background-color: $secondary-pink;
    }
}

.titleBrush {
    position: relative;

    img {
        position: absolute;
    }
    h2 {
        position: relative;
    }
}

.homeInfo {
    padding-top: 56px;
    padding-bottom: 100px;
    color: $text-pink;
    font-size: 18px;
    width: 672px;
    margin: 0 auto;
}

@media( max-width: 1220px) {
    .button,
    .button-secondary {
        padding: 15px 20px;
    }
    .textTitle {
        font-size: 36px;
    }
    .textBody1 {
        font-size: 15px;
    }
    .titleBrush img {
        width: 25%;            
    }
}