$main-pink: #E77584;
$main-light-pink: #D5B3B9;
$main-blue: #E1EDF2;

$secondary-pink: #DB5F70;
$secondary-light-pink: #F1D6DB;
$secondary-blue: #D0DBE0;

$text-gray: #8a8585;
$text-dark-gray: #605f5f;
$text-black: #414141;
$text-pink: #94797e;
$text-white: #fff;

$background-pink: #f9f1f3;
$background-white: #fff;
$background-black: #312f2f;

