<div class="becomeMemberPage">
    <div class="becomeMemberPage-header">
        <%= image_tag("knit") %>
        <h1 class="text-center">Анкета волонтера</h1>
    </div>
    <div class="becomeMemberPage-form">
    <%= render 'form', member: @member %>
</div>
